#background-feedback {
    position: absolute;
    height: 150vh;
    width: 67vw;
    background-color: white;
    z-index: 34;
    left: 25vw;
    top: 23.5vh;
    border-radius: 8px;
}
#dashboardFeedHead{
    position: absolute;
    left: 25vw;
    top: 15vh;
    width: 50vw;
    height: 5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 37px;
    background: none;
}
#ff {
    position: absolute;
    width: 25vw;
    height: 8vh;
    left: 2vw;
    top: 3vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 37px;
    color: #000000;
}

#heading-feedback {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    height: 9vh;
    width: 64vw;
    top: 12vh;
    left: 1.6vw;
    background-color:#6C63FF;
    border-radius: 10px;
    padding-top:3.5vh;
}

.heading-1 {
    background:none;
    color: white;
    background: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 20px;
}

.heading-2 {
    background:none;
    color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 20px;
}

.heading-3 {
    background:none;
    color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 20px;
}

.heading-4 {
    background-color: rgba(240, 240, 240);
    color: #4D4D4D;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 20px;
}

.heading-5 {
    background-color: rgba(240, 240, 240);
    color: #4D4D4D;
width: 8vw;
height: 5vh;
margin-top: 5vh;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 20px;
}
#faculty-list{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    height: 10vh;
    width: 70vw;
    /* background-color: rgba(240, 240, 240); */
    background-color: white;
    border-radius: 10px;
}
/* #faculty-list:hover{
    background-color: #4D4D4D;
}
#faculty-list:hover{
    background-color: #4D4D4D;
} */

#fac-area{
    display:flex;
    flex-direction: column;
    margin-top:25vh;
    width: 70vw;
    /* top: 30vh; */
    background:none;
    /* left: 1.5vw; */
    border-radius: 10px;
}
#fac-details{
    font-weight: 600;
}
.feed_circle{
    position: absolute;
    height: 4vh;
    width: 20vw;
    border-radius: 50%;
    top: 4vh;
    border: 1px solid black;
    background-color: red;
}
.feed_circle:hover{
    cursor: pointer;
}
#feed_circle_1{
    left: 48vw;
}
#feed_circle_2{
    position: absolute;
}
#feed_circle_3{
    left: 53vw;
}
#feed_circle_4{
    left: 55.5vw;
}
#feed_circle_5{
    left: 58vw;
}
.ratings{
    /* padding: 50%; */
    background: none;
    color: black;
    font-size: 0.9rem;
}
.emailbutton{
    color: white;
}