body {
    overflow-x: hidden;
    /* height:200vh; */
}

.dash {
    position: absolute;
    left: 26vw;
    top: 14vh;
    width: 50vw;
    height: 5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    background: none;
}

#background {
    position: absolute;
    width: 65vw;
    height: 170vh;
    background-color: white;
    margin-top: 21vh;
    margin-left: 26vw;
    border-radius: 15px;
    margin-bottom: 40px;
    padding-bottom: 50vh;
}

#facultyBackground {
    position: absolute;
    width: 65vw;
    height: 120vh;
    background-color: white;
    margin-top: 25vh;
    margin-left: 26vw;
    border-radius: 15px;
    margin-bottom: 50vh;
    padding-bottom: 50vh;
}

#avatar {
    position: absolute;
    background-color: white;
    top: 9vh;
    left: 3vw;
    width: 13vw;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#profileImage {
    background: none;
    width: 12vw;
    height: 24vh;
    width: 12vw;
    border-radius: 45%;
}

#dis-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: none;
    color: #6C63FF;
    margin-top:8px;
    margin-bottom: 0;
    text-align: center;
}

#heading1 {
    position: absolute;
    width: 229px;
    height: 37px;
    left: 23vw;
    top: 9.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    background-color: white;
    color: #000000;
}

#stuDetails {
    display: flex;
    flex-direction: column;
    margin-left: 23vw;
    justify-content: flex-start;
    margin-top: 110px;
    width:30vw;
    background-color: #FFFFFF;
}

.profileInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    background: none;
}

.label1 {
    font-weight: 600;
    height: 5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1rem;
    line-height: 17px;
    color: #6C63FF;
    background:none;
    margin: 24px 0;

}

.label2 {
    width: 25vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background:none;
    z-index:27;
}

#wrongName,
#wrongBG,
#wrongEmail,
#wrongCity,
#wrongState,
#wrongFName,
#wrongMName,
#wrongNum,
#wrongFNum,
#wrongMNum,
#wrongPin {
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12.5px;
    font-weight: 500;
    width: 28vw;
    color: rgba(255, 0, 0, 0.9);
    margin-top:-12px;
    margin-left:18vw;
    display: none;
}

.dropdownGender {
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    width: 12vw;
    height: 5vh;
    border: 0.5px solid #D9D9D9;
    border-radius: 8px;
    padding-left: 6px; 
    color:#000;
    outline:none;
    /* border: none; */
}

.profileField {
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: black;
    width: 12vw;
    height: 5vh;
    outline:none;
    border: 0.5px solid #D9D9D9;
    border-radius: 8px;
    padding-left: 6px;
    background-color: #FFFFFF;
    z-index:26;
}

#editButton {
    position: absolute;
    top: 46vh;
    left: 4.8vw;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 9vw;
    height: 5vh;
    padding: 4px;
    cursor: pointer;
    text-align: center;
}

#cancelButton {
    position: absolute;
    top: 46vh;
    left: 4.8vw;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 9vw;
    height: 5vh;
    padding: 4px;
    cursor: pointer;
    display: none;
    text-align: center;
}

#saveButton {
    position: absolute;
    top: 52.5vh;
    left: 4.8vw;
    width: 9vw;
    height: 5vh;
    padding: 4px;
    background: #6C63FF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: white;
    display: none;
    cursor: pointer;
    text-align: center;

}

.CONTACT {
    /* position: absolute;
    top: 66vh;
    width: 60vw;
    margin-left:-23vw;
    padding-left:23vw;
    height: 50vh; */
    background-color: rgba(238, 241, 255, 0.5);
    background-color: #fff;
    /* z-index: 1; */

}

.avatarInfo {
    background: none;
    margin-top:-8px;
}


   